@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-primary: #000000;
  --foreground-secondary: #181818;
  --background-primary: #e6e6e6;
  --background-secondary: #d8d8d8;
}

[data-theme="dark"] {
  --foreground-primary: #ffffff;
  --foreground-secondary: #e8e8e8;
  --background-primary: #1a1a1a;
  --background-secondary: #222222;
}

body {
  @apply bg-background-primary text-foreground-primary;
}

main {
  min-height: calc(100vh - 64px - 64px);
  @apply px-4 tablet:px-8 laptop:px-20 desktop:px-72;
}
